
  h1{
    text-align: center;
    margin-top: 10px;
    /* color: var(--color-fuerte); */
}

#carrito-title{
    color: var(--color-oscuro);
    text-shadow: 3px 3px 6px var(--color-principal);
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 15px;
}

#cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

.producto-carrito {
    color: var(--color-descripcion);
    background-color: var(--fondo-claro);
    box-shadow: 3px 5px 7px rgba(165, 42, 42, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    display: flex; 
    justify-content: center; 
    min-width: 300px;
    max-width: 300px;
     
  }

  .producto-carrito h4 {
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    margin-bottom: 15px;
  }

.card-body img{
    width: 40px;
    height: 55px;
}


#totales{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


#totales p, #totales button {
    font-size: 1.2em;
}

.mas button{
    background-color: rgb(217, 73, 73);
    padding: 5px px;
    color: var(--fondo-claro);
    /* font-weight: 600px; */
    font-size: larger;
    border-radius: 5px;
}


#carrito-vacio{
    text-align: center;
}

#continuar-compra{
    display: none;
    text-align: center;
}

#agregarMas a{
    text-decoration: none;
}

#reiniciar:hover,  #carrito-vacio a:hover, #agregarMas a:hover{
    padding: 5px 8px;
    border-radius: 10px;
    background-color:rgb(217, 73, 73);
    color: var(--fondo-claro);

}
.mas button:hover{
    background-color: var(--fondo-oscuro);
}
#reiniciar, #carrito-vacio a, #agregarMas a{
    border-style: none;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: var(--fondo-oscuro);
    color: #ffecd1;
}

/* ----------------------------------------------------------------------- */
/* DISEÑO PARA PANTALLAS TAMAÑO MÓVILES PEQUEÑOS */
/* ----------------------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 599px){
    #totales p, #totales button {
        font-size: 0.8em;
    }
 
    
}

/* ----------------------------------------------------------------------- */
/* DISEÑO PARA PANTALLAS TAMAÑO TABLET */
/* ----------------------------------------------------------------------- */
@media (min-width: 600px) and (max-width: 990px){ 
 #reiniciar{
    margin-left: 25px;
 }
}